NEXT_PUBLIC_SUPABASE_URL=https://zukzrfzezbnuysydpaxt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1a3pyZnplemJudXlzeWRwYXh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ3MTc1MDksImV4cCI6MjA3MDI5MzUwOX0.2MIczL4zHIBmKYoSX8EB8yA_ST8j2jZjvxlg4dIi2as